.cnt-code
    .row.align-items-start.mb-3
        .col-6
            .list-group
                a.list-group-item.list-group-item-action(href='/index.html') トップページ
    .row.align-items-start.mb-3
        .col-6
            .list-group
                a.list-group-item.list-group-item-action(href='/categoryA/index.html') カテゴリAトップ
                a.list-group-item.list-group-item-action(href='/categoryA/directory2/index.html') カテゴリAトップ第2階層
                a.list-group-item.list-group-item-action(href='/categoryA/directory2/directory3/index.html') カテゴリAトップ第3階層
        .col-6
            .list-group
                a.list-group-item.list-group-item-action(href='/categoryB/index.html') カテゴリBトップ
                a.list-group-item.list-group-item-action(href='/categoryB/directory2/index.html') カテゴリBトップ第2階層
                a.list-group-item.list-group-item-action(href='/categoryB/directory2/directory3/index.html') カテゴリBトップ第3階層
    .row.align-items-start
        .col-6
            .list-group
                a.list-group-item.list-group-item-action(href='/process/step1.html') ステップ1
                a.list-group-item.list-group-item-action(href='/process/step2.html') ステップ2
                a.list-group-item.list-group-item-action(href='/process/step3.html') ステップ3
                a.list-group-item.list-group-item-action(href='/process/step4.html') ステップ4
                a.list-group-item.list-group-item-action(href='/process/step5.html') ステップ5
        .col-6
            .list-group
                a.list-group-item.list-group-item-action(href='https://www.nikkei.com/' target='_blank') 外部リンク1
                a.list-group-item.list-group-item-action(href='https://jp.wsj.com/' target='_blank') 外部リンク2