doctype html
htlm(lang='ja')
	head
		title join_group
		include /head.pug
	body
		.container
			include /body_head.pug
			include /event_menu.pug

			.cnt-code
				pre
					code dataLeyer.push
		script 
			|document.addEventListener('DOMContentLoaded', function() {
			|	dataLayer.push({
			|		event: 'test'
			|	});
			|});