- var event_type = 'sign_up'

doctype html
htlm(lang='ja')
	head
		title #{event_type}
		include ../head.pug
	body
		include ../body_head.pug
		.container
				form(name='form')
					.cnt-code
						.row
							.col-12.pb-3 dataLayer.push({
							.col-12.pb-3 　　　event: #{event_type},
						.row.align-items-center
							.col-auto 　　　method:
							.col-auto.ps-0
								input.form-control(name='value' value='123')
						.row
							.col-12.pb-3 });
							.col-3.d-grid
								p.m-0.btn.btn-primary(data-js=event_type) submit
						include ../submit_success.pug						
		include ../event_menu.pug